#!/bin/bash
# -*- ENCODING: UTF-8 -*-
echo   "/////////////////////////////////////"
echo "//      Desenvolvedor: Wolf           //"
echo "//                                    //"
echo "//       Inkscape e Gimp              //"
echo "//                                    //"
echo "//                                    //"
echo   "/////////////////////////////////////"

sleep 5;

echo "começando a instalar Inkscape"
echo "."
sleep 1;
echo "."
sleep 1;   
echo "."
sleep 1;
sleep 1;
echo "."
sleep 1;
sudo add-apt-repository ppa:inkscape.dev/stable -y
sudo apt-get update -y
sudo apt-get install inkscape -y
sleep 2;
sudo add-apt-repository ppa:otto-kesselgulasch/gimp -y
sudo apt-get update -y
sudo apt-get install gimp -y
echo "<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>"
echo "/                     Wolf                  /"
echo "/                                           /"
echo "/  obrigado.se você gostou deixe seu like   /"
echo "/                                           /"
echo "/       veja mais coisas no meu blog        /"
echo "/                                           /"
echo "/               Coisas do Wolf              /"
echo "/                                           /"
echo "/                                           /"
echo "/                                           /"
echo "<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>"
sleep 2;
echo               "Até logo galera!!!"
exit
